---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';

type Props = CollectionEntry<'lesson'>['data'];

const { title, videos } = Astro.props;

---

<html lang="en">
<head>
    <Header />
    <BaseHead title={title} description={title} />
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            /*background-color: #f9f9f9;*/
            color: #333;
        }

        header {
            /*background-color: #fff;*/
            padding: 20px;
            text-align: center;
            border-bottom: 1px solid #ddd;
        }

        header h1 {
            margin: 0;
            font-size: 24px;
        }

        .container {
            max-width: 768px;
            margin: 20px auto;
            padding: 20px;
            /*background: #fff;*/
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
            
        }

        .video-section {
            margin-bottom: 20px;
            text-align: center;
            display: flex;
            flex-direction: column;
        }

        .video-section video {
            width: 100%;
            max-width: 800px;
        }

        .video-title {
            margin-top: 10px;
            font-size: 18px;
            color: #333;
        }

        .navigation {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .navigation a {
            padding: 10px 20px;
            background: rgb(var(--gray));
            color: #fff;
            text-decoration: none;
        }

        .navigation a:hover {
            background: rgb(var(--gray-dark));
        }

        .content {
            display: flex;
            gap: 20px;
            flex-wrap: wrap;
        }


        .videos {
            @apply flex-grow flex flex-col gap-4;
        }

        .videos ul {
            /*list-style: none;
            padding: 0;
            margin: 0;*/
            @apply list-none p-0 m-0 flex flex-col w-full;
            gap: 0px;
        }

        .videos ul li {
            /*padding: 10px;
            background: #f7f7f7;
            margin-bottom: 10px;
            border: 1px solid #ddd;
            border-radius: 4px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;*/
            @apply grow bg-gray-50 p-4 mb-4 border border-gray-200 rounded flex justify-between items-center cursor-pointer transition-colors duration-100 ease-in-out hover:bg-gray-100 hover:border-gray-300 hover:text-gray-900;
        }

        .videos ul li.selected {
            /*background: rgb(var(--gray));*/
            @apply bg-gray-900 text-white border-gray-900 hover:bg-gray-900 hover:border-gray-900 hover:text-white;

        }

        .videos ul li span {
            font-size: 14px;
            color: #666;
        }

        .videos ul li.selected span {
            color: #fff;
        }

        
    </style>
</head>
<body>

<header>
    <h1>{title}</h1>
</header>

<div class="container">
    <div class="video-section">
        <video id="mainVideo" controls>
            <source id="videoSource" type="video/mp4">
            Your browser does not support the video tag.
        </video>
       
        <div class="navigation bg-gray-50">
            <button id="backButton" class="btn">Back</button>
            <div id="videoTitle" class="video-title"></div>
            <button id="nextButton" class="btn">Next</button>
        </div>
    </div>

    

    <div class="content">

        <div class="videos">
            <h2>The Videos:</h2>
            <ul id="videoList">
                {
                    videos?.map((video, index) => (
                        <li data-video={index} data-url={`https://ayal.github.io/nuski/videos/${encodeURIComponent(video.url)}`} data-title={video.title}>
                            <span>{video.title}</span>
                        </li>
                    ))
                }
            </ul>
        </div>

    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const videoSource = document.getElementById('videoSource');
        const mainVideo = document.getElementById('mainVideo');
        const videoTitle = document.getElementById('videoTitle');
        const videoItems = document.querySelectorAll('#videoList li');
        const backButton = document.getElementById('backButton');
        const nextButton = document.getElementById('nextButton');

        let currentVideoIndex = 0;

        function loadVideo(index, play = true) {
            const videoUrl = videoItems[index].getAttribute('data-url');
            const videoTitleText = videoItems[index].getAttribute('data-title');
            if (videoUrl) {
                videoSource.setAttribute('src', videoUrl);
                mainVideo.load();
                videoTitle.textContent = videoTitleText;
                if (play) {
                    mainVideo.play();
                }
                videoItems.forEach(item => item.classList.remove('selected'));
                videoItems[index].classList.add('selected');
            }
        }

        if (videoSource && mainVideo) {
            videoItems.forEach((item, index) => {
                item.addEventListener('click', () => {
                    currentVideoIndex = index;
                    loadVideo(currentVideoIndex);
                });
            });

            backButton.addEventListener('click', (e) => {
                e.preventDefault();
                if (currentVideoIndex > 0) {
                    currentVideoIndex--;
                    loadVideo(currentVideoIndex);
                }
            });

            nextButton.addEventListener('click', (e) => {
                e.preventDefault();
                if (currentVideoIndex < videoItems.length - 1) {
                    currentVideoIndex++;
                    loadVideo(currentVideoIndex);
                }
            });

            // Load the first video in the list on load, but don't play it yet
            if (videoItems.length > 0) {
                loadVideo(0, true);
            }
        }
    });
</script>

</body>
</html>
